@font-face {
	font-family: Raleway;
	src: url(../fonts/raleway/raleway-light.ttf);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/raleway/raleway-regular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/raleway/raleway-medium.ttf);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/raleway/raleway-semibold.ttf);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/raleway/raleway-extrabold.ttf);
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: url(../fonts/montserrat/montserrat-light.ttf);
	font-weight: 300;
	font-style: normal;
}

.container {
	width: 1920px;
	margin: 0 auto;
}

header {
	min-height: 1024px;
	background-image: url(../img/bg_photo_11949.jpg);
	padding: 40px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-top {
	display: flex;
	justify-content: center;
}

.header-link-home {
	font-family: Raleway;
	font-size: 34px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.04em;
	color: #ffffff;
	fill: #ffffff;
	text-decoration: none;
	margin-right: 219px;
}

.header-link-home:hover {
	color: #ebddc4;
	fill: #ebddc4;
}

.header-link-home:active {
	color: #c7b299;
	fill: #c7b299;
}

.header-logo {
	vertical-align: middle;
}

.header-menu {
	display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-nav {
	display: inline-block;
	margin: 0 30px 0 0;
}

.header-menu-item {
	list-style-type: none;
	display: inline-block;
	margin: 0 30px 0 0;

}

.header-menu-item-link {
	text-decoration: none;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	color: #ffffff;
}

.header-menu-item-link-active {
	color: #c7b299; 
}

.header-menu-item-link:hover {
	color: #ebddc4;
}

.header-menu-item-link:active {
	color: #c7b299; 
}

.header-cart {
	display: inline-block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-image: url(../img/icon_cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 22px 0 0;
    outline: none;
}

.header-cart:hover {
	background-image: url(../img/icon_cart_hover.svg);
}

.header-cart:active {
	background-image: url(../img/icon_cart_active.svg);
}

/*.header-search-btn {
	display: inline-block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-image: url(../img/icon_search.svg);
    outline: none;
}*/

/*.header-search {
	width: 240px;
	background-color: transparent;
	display: inline-block;
}
.header-search-input {
	width: 24px;
  	height: 24px;
  	outline: none;
  	background-image: url(../img/icon_search.svg);
  	background-size: contain;
  	background-repeat: no-repeat;
  	border: 1px solid transparent;
    background-color: transparent;
}

.header-search-input:hover {
	cursor: pointer;
	background-image: url(../img/icon_search_hover.svg);
}

.header-search-input:focus {
	width: 220px;
	transition: width 1s ease-out;
  	background-position: right;
  	background-color:  #191b22;
  	font-family: Montserrat;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
	font-style: normal;
	color: #fff;
}

.header-search-input:hover:focus {
	cursor: text;
}*/

.header-search {
	width: 28px;
	height: 28px;
	position: relative;
}

.header-search__label {
	display: block;
	width: 100%;
	height: 100%;
	fill: #ffffff;
}

.header-search__label:hover {
	cursor: pointer;
}

.header-search__label:hover .header-search-icon {
	fill: #ebddc4;
} 

.header-search__label:active .header-search-icon {
	fill: #c7b299;
} 

.header-search-icon {
	width: 100%;
	height: 100%;
}

.header-search-input {
	width: 0;
	min-height: 0;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	position: absolute;
	top: 50px;
	left: -118px;
	color: #fff;
	font-size: 14px;
	font-family: Montserrat;
}

.header-search-input:focus {
	width: 150px;
	min-height: 20px;
	transition: width 1s ease;
	border: 1px solid #ebddc4;
}

.header-search-input:focus ~ .header-search__label>.header-search-icon {
	fill: #c7b299;
}

.header-cart:hover {
	cursor: pointer;
}

.header-menu-list {
	padding: 0;
}

.header-middle {
	display: flex;
	justify-content: space-around;
}

.header-slide {
	display: inline-block;
	width: 593px;
	min-height: 277px;
	text-align: center;
}

.header-slide-title-1 {
	display: block;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 500;
	font-style: normal;
	color: #ffffff;
	margin: 0 0 10px 0;
} 

.header-slide-title-2 {
	display: block;
	font-family: Raleway;
	font-size: 52px;
	font-weight: 800;
	font-style: normal;
	color: #ffffff;
	margin: 0 0 20px 0;
}

.header-slide-text {
	display: block;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	color: #ffffff;
	margin: 0 0 45px 0;
	line-height: 24px;
}

.button {
	display: inline-block;
	min-width: 170px;
	height: 53px;
	padding: 19px;
    box-sizing: border-box;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 800;
	font-style: normal;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #998675;
	border-radius: 3.0px;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
}



.button:hover {
	background-color: #856b59;
	cursor: pointer;
}

.button:active {
	box-shadow: 0px 0px 18px 0px rgba(133,107,89,1);

}

.carusel-btn {
	display: block;
  	width: 40px;
  	height: 40px;
  	display: block;
  	width: 40px;
  	height: 73px;
  	position: relative;
}

.carusel-btn:nth-of-type(1) {
	margin: 0 50px 0 0;
}

.carusel-btn:nth-of-type(2) {
	margin: 0 0 0 50px;
}

.carusel-btn:after {
	content: "";
  	display: inline-block;
  	width: 52px;
  	height: 52px;
  	transform: rotate(45deg);
  	position: absolute;
  	top: 85px;
}

.carusel-btn:nth-of-type(1):after {
  	border-bottom: 2px solid #d3c1ad;
  	border-left: 2px solid #d3c1ad;
}

.carusel-btn:nth-of-type(2):after {
  	border-top: 2px solid #d3c1ad;
  	border-right: 2px solid #d3c1ad;
}

.carusel-btn:nth-of-type(1):hover:after {
	border-bottom: 2px solid #856b59;
  	border-left: 2px solid #856b59;
}

.carusel-btn:nth-of-type(2):hover:after {
	border-top: 2px solid #856b59;
  	border-right: 2px solid #856b59;
}

.carusel-btn:nth-of-type(1):active:after {
	border-bottom: 2px solid #555555;
  	border-left: 2px solid #555555;
}

.carusel-btn:nth-of-type(2):active:after {
	border-top: 2px solid #555555;
  	border-right: 2px solid #555555;
}

.header-bottom {
	display: flex;
    justify-content: center;
}

.header-pagination {
	width: 100px;
	display: flex;
  	justify-content: space-between;
  	align-items: center;

}

.header-pagination-item {
	display: block;
	width: 10px;
	height: 10px;
	background-color: #ccc;
	border-radius: 50%;
}

.header-pagination-item-current {
	background-color: transparent;
	border: 2px solid #fff;
	width: 13px;
	height: 13px;
}

.header-pagination-item:hover {
	background-color: #998675;
}

.features {
	display: flex;
	justify-content: center;
	padding: 80px; 
}

.features-icon {
	display: inline-block;
	height: 49px;
}

.features-item {
	display: inline-block;
	text-decoration: none;
	width: 270px;
	min-height: 266px;
	color: #555555;
	fill: #555555;
	margin: 0 33px 0 0;
	font-family: Raleway;
	text-align: center;
	font-style: normal;
}

.features-item:last-child {
	margin: 0;
}

.features-item-title {
	display: block;
	margin: 30px 0 20px 0;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
}

.features-item-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	margin: 0 0 30px 0;
}

.features-item:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 auto;
}

.features-item:hover .features-icon {
  fill: #c7b299;
}

.features-item:hover .features-item-title {
  color: #c7b299;
}

.features-item:hover:after {
  background-color: #c7b299;
}

.screenshots {
	display: flex;
	flex-direction: column;
    align-items: center;
	background-color: #fbfaf8;
	padding: 80px 0 0 0;
	font-family: Raleway;
	color: #555555;
}

.screenshots-title {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	margin: 0 0 22px 0;
}

.screenshots-text {
	width: 757px;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	text-align: center;
	margin: 0 0 40px 0;
}

.screenshots-img {
	width: 1230px;
	padding: 0;
	display: flex;
	justify-content: center;
	position: relative;
}

.screenshots-img-item:first-child {
	z-index: 1;
	position: absolute;
	top: 82px;
    left: 0;
}

.screenshots-img-item:nth-child(2) {
	z-index: 2;
	margin: 0 auto;
}

.screenshots-img-item:last-child {
	z-index: 1;
	position: absolute;
  	top: 82px;
  	right: 0;
}

.aside-purchase {
	min-height: 150px;
	background-color: #f4f5f8;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
	display: flex;
	justify-content: space-around;
	padding: 46px;
	box-sizing: border-box;
}

.aside-purchase-title {
	display: block;
	font-family: Raleway;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
	margin: 0 0 8px 0;
}

.aside-purchase-title-waxom {
	color: #c7b299;
}

.aside-purchase-rate {
	display: block;
	font-family: Montserrat;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 300;
	font-style: normal;
	color: #615855;
}

.projects {
	padding: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects-top {
	min-height: 170px;
	width: 760px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

.projects-top-title {
	font-family: Raleway;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
}

.projects-top-text {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	text-align: center;
}

.projects-top-filters {
	width: 620px;
	display: flex;
	justify-content: space-around;
}

.projects-top-filters-button {
	padding: 5px 23px;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
	color: #8c8c8c;
	border: 1.0px solid #ebebeb;
	border-radius: 5px;
	background-color: #fff;
	outline: none;
	
}

.projects-top-filters-button-current {
	background-color: #998675;
	color: #ffffff;
	cursor: pointer;
}

.projects-top-filters-button:hover {
	background-color: #ebebeb;
	cursor: pointer;
}

.projects-top-filters-button:active {
	background-color: #41353b;
	color: #fff;
}

.projects-top-filters-button-current:hover {
	background-color: #41353b;
}

.projects-articles {
	width: 1170px;
	min-height: 714px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 40px;
}

.projctes-articles-item {
	position: relative;
	text-decoration: none;
	position: relative;
}

.projctes-articles-item:hover .projects-articles-item-img {
	filter: brightness(40%);
}

.projctes-articles-item:hover .projctes-articles-item-description {
	background-color: #362f2d;
}

.projctes-articles-item:hover .projctes-articles-item-description:before {
	border-bottom: 15px solid #362f2d;
}

.projects-articles-item-img {
	margin-bottom: -4px;
}

.projctes-articles-item:hover .projctes-item-btn {
	display: block;
}

.projctes-articles-item-description {
	width: 370px;
	height: 100px;
	background-color: #fbfaf8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 27px;
	box-sizing: border-box;
}

.projctes-articles-item-description:before {
	content: "";
    display: block;
    border: 19px solid transparent;
    border-bottom: 15px solid #fbfaf8;
    position: absolute;
    left: 21px;
    bottom: 120px;
}

.projctes-articles-item-description-title {
	font-family: Raleway;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #c7b299;
}

.projctes-articles-item-description-text {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #d1d1d1;
}

.projctes-item-btn {
	display: none;
	width: 26px;
	height: 26px;
	border: none;
	background-color: transparent;
	position: absolute;
	outline: none;
}

.projctes-item-btn-link {
	top: 105px;
    left: 140px;
	background-image: url(../img/project_hover_link.svg);
}

.projctes-item-btn-search {
	top: 105px;
	right: 140px;
	background-image: url(../img/project_hover_search.svg);
}

.projctes-item-btn-link:hover {
	background-image: url(../img/project_hover_link_hover.svg);
	cursor: pointer;
}

.projctes-item-btn-search:hover {
	background-image: url(../img/project_hover_search_hover.svg);
	cursor: pointer;
}

.video {
	min-height: 705px;
	/*background-image: url(../img/bg_photo_video.jpg);*/
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
}

.video-item {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%; 
	height: 100%;
}

.video-text {
	width: 552px;
	height: 273px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

.video-text-btn {
	width: 98px;
	height: 98px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.2);
	fill: #fff;
	transition: all 300ms;
}

.video-text-btn:hover {
	fill: #c7b299;
	cursor: pointer;
}

.video-text-btn:active {
	fill: #41353b;
}

.video-text-title {
	font-family: Raleway;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 500;
	color: #ffffff;
	margin: 30px 0 0 0;
}

.video-text-p {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
}

.video-text-time {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #c7b299;
}